development:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: kladr_development

test:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: kladr_test

production:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: kladr_production

# Сам КЛАДР будет храниться в одной БД для всех сред
kladr:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: kladr